<div class="container-fluid">
  <div class="container xd-container">
    <h2>Oferta</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Descuento</th>
          <th>fExpiracion</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let lista of listaactivos">
          <td class="ownerFullName"><a routerLink="/oferta/{{lista.id}}" routerLinkActive="active"
                                       (click)="onSelect(lista)">{{lista.id}} </a></td>
          <td>{{lista.vcTitulo}}</td>
          <td>{{lista.vcDescr}}</td>
          <td>{{lista.vcDescu}}</td>
          <td> {{lista.vcFexp}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
